In [22]:
import dataprocessing.datacolect as dc
import pandas as pd
import numpy as np

# 1. Sobre a coleta dos jogos

O objetivo deste *notebook* √© obter o nome dos jogos que est√£o presentes no servi√ßo ***Xbox Game Pass***. Portanto, √© necess√°rio extrair essas informa√ß√µes de uma p√°gina que tenha essas informa√ß√µes atualizadas constantemente. Isso deve ao fato da natureza do servi√ßo.

O ***Xbox Game Pass*** recebe jogos e outros s√£o retirados de maneira peri√≥dica. Os dados ser√£o coletados do portal ***Windows Cetral***.

![Alt text](image.png)

Ademais, √© importante obter os jogos para os diferentes segmentos do servi√ßo que hoje se divide em:

> *Game Pass Core.*
>
> *Game Pass Standard.*
>
> *Game Pass Ultimate.*
>
> *PC Game Pass.*

Os 3 primeiros destinados aos consoles e o √∫ltimo apenas para os computadores.

# 2. Rotina de *scraping*

In [2]:
# Url da p√°gina do Windows Central com a lista dos jogos:

url = 'https://www.windowscentral.com/xbox-game-pass-list'

In [3]:
soup = dc.Soup(url)
soup = soup.get_soup()
scrape = dc.Scrape()

In [4]:
type(soup)

bs4.BeautifulSoup

In [5]:
games_soup_list = scrape.find_elements(tag='ul', soup=soup)

In [6]:
def get_games_names(soup, index: int=2):
    if index in [2, 3, 4]:
        games_soup = scrape.find_elements(tag='li', soup=soup[index])
    else:
        raise ValueError('Par√¢metro index fora do intervalo. As op√ß√µes s√£o 2 (console), 3 (PC) e 4 (Cloud).')
    
    games_list = list()

    for game in games_soup:
        if ' (üëáüèª)' in game.get_text():
            game = game.get_text().replace(' (üëáüèª)', '')
            games_list.append(game.upper())
        else:    
            games_list.append(game.get_text().upper())

    return games_list


def games_dataframe(games: list, column: str='name'):
    dataframe = pd.DataFrame({column: games})
    return dataframe

In [7]:
console_list = get_games_names(games_soup_list, index=2)
pc_list = get_games_names(games_soup_list, index=3)
cloud_list = get_games_names(games_soup_list, index=4)

In [8]:
console_games = games_dataframe(console_list)
console_games

                                       name
0                             7 DAYS TO DIE
1                    A PLAGUE TALE: REQUIEM
2                                 A WAY OUT
3     AGE OF EMPIRES II: DEFINITIVE EDITION
4                          AGE OF EMPIRE IV
..                                      ...
460                     YOU SUCK AT PARKING
461                 ZOMBIE ARMY 4: DEAD WAR
462  ZOO TYCOON: ULTIMATE ANIMAL COLLECTION
463                                    ZUMA
464                         ZUMA'S REVENGE!

[465 rows x 1 columns]

In [9]:
pc_games = games_dataframe(pc_list)
pc_games

                                       name
0                             7 DAYS TO DIE
1                    A PLAGUE TALE: REQUIEM
2                                 A WAY OUT
3        AGE OF EMPIRES: DEFINITIVE EDITION
4     AGE OF EMPIRES II: DEFINITIVE EDITION
..                                      ...
441                         YAKUZA KIWAMI 2
442                   YAKUZA: LIKE A DRAGON
443                     YOU SUCK AT PARKING
444                 ZOMBIE ARMY 4: DEAD WAR
445  ZOO TYCOON: ULTIMATE ANIMAL COLLECTION

[446 rows x 1 columns]

In [10]:
cloud_games = games_dataframe(cloud_list)

In [11]:
df = pd.DataFrame()

In [12]:
list_dataframes = [console_games, pc_games, cloud_games]

In [13]:
for dataframe in list_dataframes:
    df = pd.concat([df, dataframe])
    df = df.drop_duplicates(subset='name')

In [19]:
df

                                                  name
0                                        7 DAYS TO DIE
1                               A PLAGUE TALE: REQUIEM
2                                            A WAY OUT
3                AGE OF EMPIRES II: DEFINITIVE EDITION
4                                     AGE OF EMPIRE IV
..                                                 ...
297                                     THE GOOD SLICE
304                                         THE SIMS 2
306  THE WALKING DEAD: A NEW FRONTIER ‚Äî THE COMPLET...
309              THE WALKING DEAD: THE COMPLETE SEASON
320                                         TOWNSCAPER

[607 rows x 1 columns]

In [18]:
games_dataframe(pc_list, column='pc')

                                         pc
0                             7 DAYS TO DIE
1                    A PLAGUE TALE: REQUIEM
2                                 A WAY OUT
3        AGE OF EMPIRES: DEFINITIVE EDITION
4     AGE OF EMPIRES II: DEFINITIVE EDITION
..                                      ...
441                         YAKUZA KIWAMI 2
442                   YAKUZA: LIKE A DRAGON
443                     YOU SUCK AT PARKING
444                 ZOMBIE ARMY 4: DEAD WAR
445  ZOO TYCOON: ULTIMATE ANIMAL COLLECTION

[446 rows x 1 columns]

In [25]:
new_df = pd.merge(
    left=df, right=games_dataframe(pc_list, column='pc'), how='left',
    left_on='name', right_on='pc'
)

In [32]:
for row in new_df.loc[new_df['pc'].isnull()].iterrows():
    print(row)

(4, name    AGE OF EMPIRE IV
pc                   NaN
Name: 4, dtype: object)
(19, name    ASSASSIN‚ÄôS CREED ODYSSEY
pc                           NaN
Name: 19, dtype: object)
(23, name    BANJO-KAZOOIE: NUTS & BOLTS
pc                              NaN
Name: 23, dtype: object)
(24, name    BANJO-KAZOOIE
pc                NaN
Name: 24, dtype: object)
(25, name    BANJO-TOOIE
pc              NaN
Name: 25, dtype: object)
(26, name    BATMAN: ARKHAM KNIGHT
pc                        NaN
Name: 26, dtype: object)
(27, name    BATTLEFIELD 1943
pc                   NaN
Name: 27, dtype: object)
(28, name    BATTLEFIELD 1
pc                NaN
Name: 28, dtype: object)
(29, name    BATTLEFIELD 3
pc                NaN
Name: 29, dtype: object)
(30, name    BATTLEFIELD 4
pc                NaN
Name: 30, dtype: object)
(31, name    BATTLEFIELD: BAD COMPANY
pc                           NaN
Name: 31, dtype: object)
(33, name    BATTLEFIELD HARDLINE
pc                       NaN
Name: 33, dtype: object)
(34, name    BATTLEFIELD V
pc                NaN
Name: 34, dtype: object)
(37, name    BEJEWELED 2
pc              NaN
Name: 37, dtype: object)
(38, name    BEJEWELED 3
pc              NaN
Name: 38, dtype: object)
(41, name    BLACK
pc        NaN
Name: 41, dtype: object)
(44, name    BLINX: THE TIME SWEEPER
pc                          NaN
Name: 44, dtype: object)
(47, name    BR√úTAL LEGEND
pc                NaN
Name: 47, dtype: object)
(52, name    CITIES: SKYLINES ‚Äì REMASTERED
pc                                NaN
Name: 52, dtype: object)
(56, name    CITIES: SKYLINES ‚Äî XBOX ONE EDITION
pc                                      NaN
Name: 56, dtype: object)
(62, name    CONAN EXILES
pc               NaN
Name: 62, dtype: object)
(63, name    CONTRAST
pc           NaN
Name: 63, dtype: object)
(65, name    COSTUME QUEST
pc                NaN
Name: 65, dtype: object)
(66, name    COSTUME QUEST 2
pc                  NaN
Name: 66, dtype: object)
(69, name    CRIMSON SKIES: HIGH ROAD TO REVENGE
pc                                      NaN
Name: 69, dtype: object)
(72, name    CRYSIS 2
pc           NaN
Name: 72, dtype: object)
(73, name    CRYSIS 3
pc           NaN
Name: 73, dtype: object)
(74, name    DANTE'S INFERNO
pc                  NaN
Name: 74, dtype: object)
(77, name    DAYZ
pc       NaN
Name: 77, dtype: object)
(78, name    DEAD BY DAYLIGHT: SPECIAL EDITION
pc                                    NaN
Name: 78, dtype: object)
(83, name    DEAD SPACE IGNITION
pc                      NaN
Name: 83, dtype: object)
(92, name    DISHONORED: DEFINITIVE EDITION
pc                                 NaN
Name: 92, dtype: object)
(95, name    DISNEY DREAMLIGHT VALLEY: FOUNDER‚ÄôS EDITION¬†
pc                                               NaN
Name: 95, dtype: object)
(97, name    DONUT COUNTRY
pc                NaN
Name: 97, dtype: object)
(103, name    DOOM ETERNAL STANDARD EDITION
pc                                NaN
Name: 103, dtype: object)
(106, name    DRAGON AGE 2
pc               NaN
Name: 106, dtype: object)
(107, name    DRAGON AGE: INQUISITION
pc                          NaN
Name: 107, dtype: object)
(109, name    EA SPORTS FIFA 17
pc                    NaN
Name: 109, dtype: object)
(110, name    EA SPORTS RORY MCLLROY PGA TOUR
pc                                  NaN
Name: 110, dtype: object)
(111, name    EA SPORTS UFC 3
pc                  NaN
Name: 111, dtype: object)
(114, name    EFOOTBALL PES 2012 SEASON UPDATE STANDARD EDITION
pc                                                    NaN
Name: 114, dtype: object)
(116, name    EMBR
pc       NaN
Name: 116, dtype: object)
(121, name    F1 2021
pc          NaN
Name: 121, dtype: object)
(123, name    FABLE ANNIVERSARY
pc                    NaN
Name: 123, dtype: object)
(124, name    FABLE II
pc           NaN
Name: 124, dtype: object)
(125, name    FABLE III
pc            NaN
Name: 125, dtype: object)
(129, name    FALLOUT NEW VEGAS
pc                    NaN
Name: 129, dtype: object)
(132, name    FEEDING FRENZY
pc                 NaN
Name: 132, dtype: object)
(133, name    FEEDING FRENZY 2
pc                   NaN
Name: 133, dtype: object)
(139, name    FIGHT NIGHT CHAMPION
pc                       NaN
Name: 139, dtype: object)
(148, name    FORZA HORIZON 4
pc                  NaN
Name: 148, dtype: object)
(150, name    FROSTPUNK: CONSOLE EDITION
pc                             NaN
Name: 150, dtype: object)
(152, name    FULL THROTTLE
pc                NaN
Name: 152, dtype: object)
(153, name    FUZION FRENZY
pc                NaN
Name: 153, dtype: object)
(157, name    GEARS OF WAR
pc               NaN
Name: 157, dtype: object)
(158, name    GEARS OF WAR 2
pc                 NaN
Name: 158, dtype: object)
(159, name    GEARS OF WAR 3
pc                 NaN
Name: 159, dtype: object)
(161, name    GEARS OF WAR JUDGEMENT
pc                         NaN
Name: 161, dtype: object)
(162, name    GEARS OF WAR ULTIMATE EDITION
pc                                NaN
Name: 162, dtype: object)
(168, name    GHOSTWIRE: TOKYO
pc                   NaN
Name: 168, dtype: object)
(169, name    GOLDENEYE 007
pc                NaN
Name: 169, dtype: object)
(173, name    GRAND THEFT AUTO 5
pc                     NaN
Name: 173, dtype: object)
(180, name    HALO 5: GUARDIANS
pc                    NaN
Name: 180, dtype: object)
(188, name    HEAVY WEAPON
pc               NaN
Name: 188, dtype: object)
(195, name    HOLLOW KNIGHT: VOIDHEART EDITION
pc                                   NaN
Name: 195, dtype: object)
(203, name    INJUSTICE 2
pc              NaN
Name: 203, dtype: object)
(209, name    JETPAC REFUELED
pc                  NaN
Name: 209, dtype: object)
(211, name    JOY RIDE TURBO
pc                 NaN
Name: 211, dtype: object)
(214, name    KAMEO
pc        NaN
Name: 214, dtype: object)
(231, name    MASS EFFECT 2
pc                NaN
Name: 231, dtype: object)
(232, name    MASS EFFECT 3
pc                NaN
Name: 232, dtype: object)
(233, name    MASS EFFECT: ANDROMEDA
pc                         NaN
Name: 233, dtype: object)
(235, name    MASSIVE CHALICE
pc                  NaN
Name: 235, dtype: object)
(236, name    MAX: THE CURSE OF BROTHERHOOD
pc                                NaN
Name: 236, dtype: object)
(239, name    MEDAL OF HONOR AIRBORNE
pc                          NaN
Name: 239, dtype: object)
(240, name    MEDIEVAL DYNASTY
pc                   NaN
Name: 240, dtype: object)
(243, name    MICROSOFT FLIGHT SIMULATOR
pc                             NaN
Name: 243, dtype: object)
(245, name    MINECRAFT
pc            NaN
Name: 245, dtype: object)
(246, name    MINECRAFT DUNGEONS
pc                     NaN
Name: 246, dtype: object)
(250, name    MLB THE SHOW 23
pc                  NaN
Name: 250, dtype: object)
(264, name    NBA LIVE 18: THE ONE EDITION
pc                               NaN
Name: 264, dtype: object)
(265, name    NBA LIVE 19
pc              NaN
Name: 265, dtype: object)
(266, name    NEED FOR SPEED RIVALS
pc                        NaN
Name: 266, dtype: object)
(267, name    NEED FOR SPEED
pc                 NaN
Name: 267, dtype: object)
(268, name    NEED FOR SPEED HEAT
pc                      NaN
Name: 268, dtype: object)
(270, name    NEED FOR SPEED PAYBACK
pc                         NaN
Name: 270, dtype: object)
(274, name    NHL 21
pc         NaN
Name: 274, dtype: object)
(275, name    NHL 22
pc         NaN
Name: 275, dtype: object)
(276, name    NHL 23
pc         NaN
Name: 276, dtype: object)
(277, name    NHL 94 REWIND
pc                NaN
Name: 277, dtype: object)
(281, name    NO MANY'S SKY
pc                NaN
Name: 281, dtype: object)
(290, name    PARTY ANIMALS
pc                NaN
Name: 290, dtype: object)
(293, name    PAYDAY 2: CRIMEWAVE EDITION
pc                              NaN
Name: 293, dtype: object)
(296, name    PEGGLE 2
pc           NaN
Name: 296, dtype: object)
(298, name    PERFECT DARK
pc               NaN
Name: 298, dtype: object)
(299, name    PERFECT DARK ZERO
pc                    NaN
Name: 299, dtype: object)
(305, name    PIKUNIKU
pc           NaN
Name: 305, dtype: object)
(306, name    PILLARS OF ETERNITY: COMPLETE EDITION
pc                                        NaN
Name: 306, dtype: object)
(307, name    PILLARS OF ETERNITY 2: DEADFIRE ‚Äî ULTIMATE EDI...
pc                                                    NaN
Name: 307, dtype: object)
(309, name    PLANTS VS. ZOMBIES
pc                     NaN
Name: 309, dtype: object)
(311, name    PLANTS VS. ZOMBIES: BATTLE FOR NEIGHBORVILLE
pc                                               NaN
Name: 311, dtype: object)
(312, name    PLANTS VS. ZOMBIES GARDEN WARFARE 2
pc                                      NaN
Name: 312, dtype: object)
(317, name    PSYCHONAUTS 2
pc                NaN
Name: 317, dtype: object)
(323, name    RARE REPLAY
pc              NaN
Name: 323, dtype: object)
(333, name    RUSH: A DISNEY/PIXAR ADVENTURE
pc                                 NaN
Name: 333, dtype: object)
(334, name    RYSE: SON OF ROME
pc                    NaN
Name: 334, dtype: object)
(337, name    SCREAMRIDE
pc             NaN
Name: 337, dtype: object)
(343, name    SHADOWRUN TRILOGY
pc                    NaN
Name: 343, dtype: object)
(347, name    SKATE
pc        NaN
Name: 347, dtype: object)
(348, name    SKATE 3
pc          NaN
Name: 348, dtype: object)
(359, name    SOULCALIBUR VI
pc                 NaN
Name: 359, dtype: object)
(363, name    SSX
pc      NaN
Name: 363, dtype: object)
(364, name    STACKING
pc           NaN
Name: 364, dtype: object)
(368, name    STAR WARS: BATTLEFRONT
pc                         NaN
Name: 368, dtype: object)
(369, name    STAR WARS: BATTLEFRONT II
pc                            NaN
Name: 369, dtype: object)
(372, name    STATE OF DAY: YEAR ONE
pc                         NaN
Name: 372, dtype: object)
(373, name    STEALTH INC. 2: A GAME OF CLONES
pc                                   NaN
Name: 373, dtype: object)
(374, name    STELLERIS: CONSOLE EDITION
pc                             NaN
Name: 374, dtype: object)
(377, name    STRANGERS THINGS 3; THE GAME
pc                               NaN
Name: 377, dtype: object)
(387, name    TERRARIA
pc           NaN
Name: 387, dtype: object)
(397, name    THE ELDER SCROLLS ONLINE
pc                           NaN
Name: 397, dtype: object)
(402, name    THE JACKBOX PARTY PACK 4
pc                           NaN
Name: 402, dtype: object)
(408, name    THE SIMS 4
pc             NaN
Name: 408, dtype: object)
(410, name    THE WALKING DEAD: A NEW FRONTIER ‚Äî THE COMPLET...
pc                                                    NaN
Name: 410, dtype: object)
(411, name    THE WALKING DEAD: MICHONNE ‚Äî THE COMPLETE SEASON
pc                                                   NaN
Name: 411, dtype: object)
(417, name    TITANFALL
pc            NaN
Name: 417, dtype: object)
(418, name    TITANFALL 2
pc              NaN
Name: 418, dtype: object)
(424, name    TOTALLY RELIABLE DELIVERY SERVICE
pc                                    NaN
Name: 424, dtype: object)
(431, name    UFC 4
pc        NaN
Name: 431, dtype: object)
(435, name    VAMPIRE SURVIVORS
pc                    NaN
Name: 435, dtype: object)
(436, name    VALHEIM
pc          NaN
Name: 436, dtype: object)
(438, name    VIVA PI√ëATA
pc              NaN
Name: 438, dtype: object)
(439, name    VIVA PI√ëATA: TIP
pc                   NaN
Name: 439, dtype: object)
(441, name    WASTELAND 3 (XBOX ONE)
pc                         NaN
Name: 441, dtype: object)
(445, name    WEIRD WEST: DEFINITIVE EDITION
pc                                 NaN
Name: 445, dtype: object)
(463, name    ZUMA
pc       NaN
Name: 463, dtype: object)
(464, name    ZUMA'S REVENGE!
pc                  NaN
Name: 464, dtype: object)
(583, name    ANVIL (GAME PREVIEW)
pc                       NaN
Name: 583, dtype: object)
(584, name    DRAGON AGE INQUISITION
pc                         NaN
Name: 584, dtype: object)
(585, name    EFOOTBALL PES 2021 SEASON UPDATE STANDARD EDITION
pc                                                    NaN
Name: 585, dtype: object)
(586, name    FOR HONOR
pc            NaN
Name: 586, dtype: object)
(587, name    GEARS OF WAR: JUDGEMENT
pc                          NaN
Name: 587, dtype: object)
(588, name    GRID LEGENDS
pc               NaN
Name: 588, dtype: object)
(589, name    HYPERDOT
pc           NaN
Name: 589, dtype: object)
(590, name    JETPAC REFUELLED
pc                   NaN
Name: 590, dtype: object)
(591, name    KAMEO: ELEMENTS OF POWER
pc                           NaN
Name: 591, dtype: object)
(592, name    NEED FOR SPEED: HEAT
pc                       NaN
Name: 592, dtype: object)
(593, name    NEED FOR SPEED: HOT PURSUIT
pc                              NaN
Name: 593, dtype: object)
(594, name    PLANTS VS. ZOMBIES: GARDEN WARFARE
pc                                     NaN
Name: 594, dtype: object)
(595, name    PLANTS VS. ZOMBIES: GARDEN WARFARE 2
pc                                       NaN
Name: 595, dtype: object)
(596, name    POWER RANGERS; BATTLE FOR THE GRID
pc                                     NaN
Name: 596, dtype: object)
(597, name    RECORE
pc         NaN
Name: 597, dtype: object)
(598, name    SKATE¬†(üëáüèª)
pc             NaN
Name: 598, dtype: object)
(599, name    STELLARIS: CONSOLE EDITION
pc                             NaN
Name: 599, dtype: object)
(600, name    THE BARD'S TALE ARPG: REMASTERED AND RENARKLED
pc                                                 NaN
Name: 600, dtype: object)
(601, name    THE ELDER SCROLLS V: SKYRIM SPECIAL
pc                                      NaN
Name: 601, dtype: object)
(602, name    THE GOOD SLICE
pc                 NaN
Name: 602, dtype: object)
(603, name    THE SIMS 2
pc             NaN
Name: 603, dtype: object)
(604, name    THE WALKING DEAD: A NEW FRONTIER ‚Äî THE COMPLET...
pc                                                    NaN
Name: 604, dtype: object)
(605, name    THE WALKING DEAD: THE COMPLETE SEASON
pc                                        NaN
Name: 605, dtype: object)
(606, name    TOWNSCAPER
pc             NaN
Name: 606, dtype: object)